<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue do jeito ninja!</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="index.css" rel="stylesheet" />
  </head>

  <body>
    <div id="app">
      <br /><br /><br />
      <div class="container">
        <h1 ref="title">{{title}}</h1>

        <select v-model="movie">
          <option value="">Select</option>
          <option value="transformers">Transformers</option>
          <option value="game-of-thrones">Game of Thrones</option>
        </select>

        <!-- <transformers v-if="movie=='transformers'"></transformers> -->
        <!-- <game-of-thrones v-if="movie=='game-of-thrones'"></game-of-thrones> -->
        <ul ref="users">
          <li v-for="(item, index) in users" :key="item.name">
            {{item.name}}
            <a @click.stop.prevent="remove(index)" class="btn-close"></a>
          </li>
        </ul>

        <!-- <component :is="movie"></component> -->

        <transition name="fade">
          <component :is="movie"></component>
        </transition>
      </div>
    </div>

    <template id="transformers">
      <div>
        <h4>Transformers</h4>
        <ul>
          <li v-for="item in transformers">{{item.name}}</li>
        </ul>
      </div>
    </template>

    <template id="gameOfThrones">
      <div>
        <h4>Game of Thrones</h4>
        <ul>
          <li v-for="item in gameOfThrones">{{item.name}}</li>
        </ul>
      </div>
    </template>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.1/vue.common.dev.js"
    ></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
      Vue.component('transformers', {
        template: '#transformers',
        data() {
          return {
            transformers: [
              { name: 'Optmus Prime' },
              { name: 'Bumble Bee' },
              { name: 'Megatron' },
            ],
          };
        },
        methods: {},
      });
      Vue.component('game-of-thrones', {
        template: '#gameOfThrones',
        data() {
          return {
            gameOfThrones: [
              { name: 'Jon Snow' },
              { name: 'Daenerys Targaryen' },
              { name: 'Tyron' },
            ],
          };
        },
        methods: {},
      });
      // var eventBus = new Vue();
      // Vue.prototype.$eventHub = new Vue();

      var app = new Vue({
        el: '#app',
        mounted() {
          console.log(this.$refs);
        },
        data: {
          title: 'Vuejs do jeito ninja!',
          users: [{ name: 'Emma' }, { name: 'Sophia' }, { name: 'Isabella' }],
          movie: '',
        },
        computed: {},
        watch: {},
        filters: {},
        methods: {
          remove(index) {
            this.users.splice(index, 1);
          },
        },
      });
    </script>
  </body>
</html>
