<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue do jeito ninja!</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="index.css" rel="stylesheet" />
  </head>

  <body>
    <div id="app">
      <br /><br /><br />
      <div class="container">
        <h1 ref="title">{{title}}</h1>
        <router-link :to="{name: 'transformers'}" custom v-slot="{navigate}">
          <span @click="navigate" @keypress.enter="navigate" role="link">
            Transformers
          </span>
        </router-link>

        <br />
        <router-link :to="{name: 'gameOfThrones'}" custom v-slot="{navigate}">
          <span @click="navigate" @keypress.enter="navigate" role="link">
            Game Of Thrones
          </span>
        </router-link>

        <br />
        <!-- <router-link :to="{name: aula23}" custom v-slot="{navigate}">
          <span @click="navigate" @keypress.enter="navigate" role="link">
            Aula 23
          </span>
        </router-link> -->
        <!-- <router-link to="/game-of-thrones">Game Of Thrones</router-link> -->
        <router-view></router-view>
      </div>
    </div>

    <template id="transformers">
      <div>
        <h4>Transformers</h4>
        <ul>
          <li v-for="item in transformers">{{item.name}}</li>
        </ul>
      </div>
    </template>

    <template id="gameOfThrones">
      <div>
        <h4>Game of Thrones</h4>
        <ul>
          <li v-for="item in gameOfThrones">{{item.name}}</li>
        </ul>
      </div>
    </template>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.1/vue.common.dev.js"
    ></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router@3"></script>

    <script>
      var Transformers = Vue.component('transformers', {
        template: '#transformers',
        data() {
          return {
            transformers: [
              { name: 'Optmus Prime' },
              { name: 'Bumble Bee' },
              { name: 'Megatron' },
            ],
          };
        },
        methods: {},
      });
      var GameOfThrones = Vue.component('game-of-thrones', {
        template: '#gameOfThrones',
        data() {
          return {
            gameOfThrones: [
              { name: 'Jon Snow' },
              { name: 'Daenerys Targaryen' },
              { name: 'Tyron' },
            ],
          };
        },
        methods: {},
      });
      // var eventBus = new Vue();
      // Vue.prototype.$eventHub = new Vue();

      var router = new VueRouter({
        mode: 'history',
        routes: [
          {
            path: '/transformers',
            name: 'transformers',
            component: Transformers,
          },
          {
            path: '/game-of-thrones',
            name: 'gameOfThrones',
            component: GameOfThrones,
          },
          // {
          //   path: '/class23',
          //   name: 'class23',
          //   component: class23,
          // },
        ],
      });

      var app = new Vue({
        el: '#app',
        router,
        data: {
          title: 'Vuejs do jeito ninja!',
        },
      });
    </script>
  </body>
</html>
